<%- include("header") -%>

<h1> this is your fucking father</h1>
<h6> you piece of shit</h6>
<h6>i am gonna take hell out of you </h6>
<p> stay away from me thing</p>
<p>i did not make this website</p>
<p>now get out of here </p>


<%- include("footer") -%>
